<p id="notice"><%= notice %></p>

<h1>Hiring Companies</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Url</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @hiring_companies.each do |hiring_company| %>
      <tr>
        <td><%= hiring_company.name %></td>
        <td><%= hiring_company.url %></td>
        <td><%= hiring_company.description %></td>
        <td><%= link_to 'Show', hiring_company %></td>
        <td><%= link_to 'Edit', edit_hiring_company_path(hiring_company) %></td>
        <td><%= link_to 'Destroy', hiring_company, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Hiring Company', new_hiring_company_path %>
